# ADM Homework 4 - Movie Recommendation System, Group #15

### Team Members
* Sandro Khizanishvili, khizanishvilisandro@gmail.com
* Domenico Azzarito, domazza6902@outlook.it
* Alessandro Querqui, 2031384, querqui.2031384@studenti.uniroma1.it
* Géraldine Valérie Maurer, 1996887, gmaurer08@gmail.com

## Import Data and Libraries

In [1]:
!pip install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests->kaggle) (3.8)
Requirement already satisfied: colorama in c:\users\galax\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
!kaggle datasets download grouplens/movielens-20m-dataset

Dataset URL: https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset
License(s): unknown
Downloading movielens-20m-dataset.zip to c:\Users\galax\OneDrive\Dokumente\GitHub\ADM-HW4

  0%|          | 0.00/195M [00:00<?, ?B/s]
  1%|          | 1.00M/195M [00:00<02:12, 1.54MB/s]
  1%|          | 2.00M/195M [00:00<01:08, 2.98MB/s]
  2%|▏         | 4.00M/195M [00:00<00:36, 5.53MB/s]
  3%|▎         | 6.00M/195M [00:01<00:28, 6.96MB/s]
  4%|▍         | 8.00M/195M [00:01<00:23, 8.24MB/s]
  5%|▌         | 10.0M/195M [00:01<00:21, 9.11MB/s]
  6%|▌         | 12.0M/195M [00:01<00:19, 9.77MB/s]
  7%|▋         | 14.0M/195M [00:01<00:18, 10.2MB/s]
  8%|▊         | 16.0M/195M [00:02<00:18, 10.4MB/s]
  9%|▉         | 18.0M/195M [00:02<00:17, 10.8MB/s]
 10%|█         | 20.0M/195M [00:02<00:16, 10.9MB/s]
 11%|█▏        | 22.0M/195M [00:02<00:16, 11.0MB/s]
 12%|█▏        | 24.0M/195M [00:02<00:16, 11.1MB/s]
 13%|█▎        | 26.0M/195M [00:03<00:15, 11.2MB/s]
 14%|█▍        | 28.0M/195M [00:03<00:15, 11.1MB/s]
 15%|█▌        | 30.0M/195M [00:03<00:15, 11.2MB/s]
 16%|█▋        | 32.0M/195M [00:03<00:15, 11.2MB/s]
 17%|█▋        | 34.0M/195M [00:03<00:15, 11.2MB/s]
 18%|█▊        | 36.0M/195M [00:03<00:14, 11.3MB/s]
 19%|█▉        | 38.0M/195M [00:04<00:14, 11.3MB/s]
 20%|██        | 40.0M/195M [00:04<00:15, 10.6MB/s]
 21%|██▏       | 42.0M/195M [00:04<00:14, 10.8MB/s]
 23%|██▎       | 44.0M/195M [00:04<00:14, 10.9MB/s]
 24%|██▎       | 46.0M/195M [00:04<00:14, 11.0MB/s]
 25%|██▍       | 48.0M/195M [00:05<00:13, 11.1MB/s]
 26%|██▌       | 50.0M/195M [00:05<00:13, 11.1MB/s]
 27%|██▋       | 52.0M/195M [00:05<00:13, 11.2MB/s]
 28%|██▊       | 54.0M/195M [00:05<00:14, 10.4MB/s]
 29%|██▊       | 56.0M/195M [00:06<00:16, 8.71MB/s]
 30%|██▉       | 58.0M/195M [00:06<00:15, 9.34MB/s]
 31%|███       | 60.0M/195M [00:06<00:14, 9.67MB/s]
 32%|███▏      | 62.0M/195M [00:06<00:13, 10.1MB/s]
 33%|███▎      | 64.0M/195M [00:06<00:12, 10.6MB/s]
 34%|███▍      | 66.0M/195M [00:07<00:12, 10.7MB/s]
 35%|███▍      | 68.0M/195M [00:07<00:12, 10.9MB/s]
 36%|███▌      | 70.0M/195M [00:07<00:11, 11.0MB/s]
 37%|███▋      | 72.0M/195M [00:07<00:11, 11.1MB/s]
 38%|███▊      | 74.0M/195M [00:07<00:11, 10.7MB/s]
 39%|███▉      | 76.0M/195M [00:07<00:11, 10.9MB/s]
 40%|███▉      | 78.0M/195M [00:08<00:11, 11.1MB/s]
 41%|████      | 80.0M/195M [00:08<00:10, 11.1MB/s]
 42%|████▏     | 82.0M/195M [00:08<00:13, 8.67MB/s]
 43%|████▎     | 84.0M/195M [00:08<00:12, 9.25MB/s]
 44%|████▍     | 86.0M/195M [00:09<00:11, 9.78MB/s]
 45%|████▌     | 88.0M/195M [00:09<00:10, 10.3MB/s]
 46%|████▌     | 90.0M/195M [00:09<00:10, 10.5MB/s]
 47%|████▋     | 92.0M/195M [00:09<00:10, 10.3MB/s]
 48%|████▊     | 94.0M/195M [00:09<00:10, 10.5MB/s]
 49%|████▉     | 96.0M/195M [00:10<00:09, 10.7MB/s]
 50%|█████     | 98.0M/195M [00:10<00:09, 10.9MB/s]
 51%|█████     | 100M/195M [00:10<00:09, 11.0MB/s]
 52%|█████▏    | 102M/195M [00:10<00:08, 11.0MB/s]
 53%|█████▎    | 104M/195M [00:10<00:08, 11.0MB/s]
 54%|█████▍    | 106M/195M [00:10<00:08, 11.1MB/s]
 55%|█████▌    | 108M/195M [00:11<00:09, 9.22MB/s]
 56%|█████▋    | 110M/195M [00:11<00:09, 9.76MB/s]
 57%|█████▋    | 112M/195M [00:11<00:08, 9.82MB/s]
 58%|█████▊    | 114M/195M [00:11<00:08, 10.2MB/s]
 59%|█████▉    | 116M/195M [00:12<00:07, 10.5MB/s]
 60%|██████    | 118M/195M [00:12<00:07, 10.7MB/s]
 61%|██████▏   | 120M/195M [00:12<00:07, 10.5MB/s]
 62%|██████▏   | 122M/195M [00:12<00:07, 10.8MB/s]
 63%|██████▎   | 124M/195M [00:12<00:06, 10.9MB/s]
 64%|██████▍   | 126M/195M [00:13<00:06, 11.0MB/s]
 65%|██████▌   | 128M/195M [00:13<00:06, 11.1MB/s]
 67%|██████▋   | 130M/195M [00:13<00:06, 11.2MB/s]
 68%|██████▊   | 132M/195M [00:13<00:06, 10.9MB/s]
 69%|██████▊   | 134M/195M [00:13<00:05, 10.9MB/s]
 70%|██████▉   | 136M/195M [00:13<00:05, 10.9MB/s]
 71%|███████   | 138M/195M [00:14<00:05, 11.0MB/s]
 72%|███████▏  | 140M/195M [00:14<00:05, 11.1MB/s]
 73%|███████▎  | 142M/195M [00:14<00:05, 11.1MB/s]
 74%|███████▎  | 144M/195M [00:14<00:04, 10.8MB/s]
 75%|███████▍  | 146M/195M [00:14<00:04, 11.0MB/s]
 76%|███████▌  | 148M/195M [00:15<00:04, 11.1MB/s]
 77%|███████▋  | 150M/195M [00:15<00:04, 11.1MB/s]
 78%|███████▊  | 152M/195M [00:15<00:04, 11.1MB/s]
 79%|███████▉  | 154M/195M [00:15<00:04, 10.7MB/s]
 80%|███████▉  | 156M/195M [00:15<00:03, 10.9MB/s]
 81%|████████  | 158M/195M [00:16<00:03, 11.0MB/s]
 82%|████████▏ | 160M/195M [00:16<00:03, 11.1MB/s]
 83%|████████▎ | 162M/195M [00:16<00:03, 11.1MB/s]
 84%|████████▍ | 164M/195M [00:16<00:02, 11.2MB/s]
 85%|████████▍ | 166M/195M [00:16<00:02, 11.2MB/s]
 86%|████████▌ | 168M/195M [00:17<00:02, 11.2MB/s]
 87%|████████▋ | 170M/195M [00:17<00:02, 11.2MB/s]
 88%|████████▊ | 172M/195M [00:17<00:02, 11.3MB/s]
 89%|████████▉ | 174M/195M [00:17<00:02, 9.41MB/s]
 90%|█████████ | 176M/195M [00:17<00:02, 9.90MB/s]
 91%|█████████ | 178M/195M [00:18<00:01, 10.3MB/s]
 92%|█████████▏| 180M/195M [00:18<00:01, 10.5MB/s]
 93%|█████████▎| 182M/195M [00:18<00:01, 10.8MB/s]
 94%|█████████▍| 184M/195M [00:18<00:01, 10.6MB/s]
 95%|█████████▌| 186M/195M [00:18<00:00, 10.7MB/s]
 96%|█████████▌| 188M/195M [00:19<00:00, 10.8MB/s]
 97%|█████████▋| 190M/195M [00:19<00:00, 11.0MB/s]
 98%|█████████▊| 192M/195M [00:19<00:00, 11.1MB/s]
 99%|█████████▉| 194M/195M [00:19<00:00, 11.1MB/s]
100%|██████████| 195M/195M [00:19<00:00, 11.2MB/s]
100%|██████████| 195M/195M [00:19<00:00, 10.4MB/s]

In [6]:
import zipfile
import pandas as pd

Unzip the file with the dataset downloaded from Kaggle:

In [7]:
# Unzip the file we downloaded from kaggle
zip_file_path = 'movielens-20m-dataset.zip'
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall('.')  # Extract files to the current working directory

Save all the CSV files in pandas DataFrames:

In [8]:
# Save CSV files in pandas df
genome_scores = pd.read_csv('genome_scores.csv')
genome_tags = pd.read_csv('genome_tags.csv')
link = pd.read_csv('link.csv')
movie = pd.read_csv('movie.csv')
rating = pd.read_csv('rating.csv')
tag = pd.read_csv('tag.csv')

Display the first five rows of each DataFrame:

In [11]:
print("genome_scores:")
display(genome_scores.head())
print("genome_tags:")
display(genome_tags.head())
print("link:")
display(link.head())
print("movie:")
display(movie.head())
print("rating:")
display(rating.head())

genome_scores:

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

genome_tags:

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

link:

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

movie:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

rating:

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40